{% extends 'base.html.twig' %}

{% block title %}Bienvenue Poly Pocket{% endblock %}

{% block body %}
<h1>Salut</h1>
    <p>ici est l'acceuil de ton futur site web</p>

    <button type="button" class="btn btn-secondary">test</button>
{% endblock %}
